// react image css customized
.image-gallery-image {
  background-color: whitesmoke;
}

.image-gallery-icon {
  box-shadow: none !important;
  filter: none;
  .image-gallery-svg {
    color: #333 !important;
    box-shadow: none;
    filter: none;
    transition: all 300ms ease-in-out;
  }
}

.image-gallery-thumbnails-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.image-gallery-thumbnail {
  height: 200px;
  width: 300px;

  .image-gallery-thumbnail-inner {
    height: 100% !important;
    width: 100% !important;
    object-fit: conver !important;
  }

  .image-gallery-thumbnail-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .image-gallery-thumbnail {
    height: 15s0px !important;
  }
}

@media screen and (max-width: 576px) {
  .image-gallery-thumbnail {
    height: 100px !important;
  }
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail:hover {
  @apply border-moonstone border-[3px];
}
