@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
.explore3 {
  position: relative;
  z-index: 50;
  padding: 0;
  overflow: hidden;
  margin: 0;
  height: 40vh;
  background: linear-gradient(
      0deg,
      rgba(17, 17, 17, 0.9),
      rgba(17, 17, 17, 0.9)
    ),
    url("src/assets/images/bg1.png");
}

.explore3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  z-index: -2;
  background: rgba(16, 163, 168, 0.442);
  /*background: linear-gradient(149deg, rgba(16, 163, 168, 1) 0%, rgba(124, 50, 219, 1) 42%, rgba(255, 0, 78, 1) 100%);*/
}
.SellContentHeaderGuide {
  position: relative;
}
.SellContentHeaderGuide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 40vh;
  width: 100%;
  background-image: url("../../public/images/contributor/dash-5.png");
  background-size: cover;
  z-index: -1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .containers {
    @apply max-w-[1400px] mx-auto px-4;
  }
  .primary-btn {
    @apply px-5 py-3 bg-primary rounded-sm text-white text-sm border-2 border-primary transition ease-in-out delay-150  duration-300 capitalize hover:text-primary hover:bg-transparent dark:hover:text-white hover:border-2 hover:border-primary;
  }
  .primary-outline-btn {
    @apply px-5 py-3 text-primary dark:text-white text-sm border-2 border-primary rounded-full capitalize transition ease-in-out delay-150  duration-300 hover:bg-primary hover:text-white;
  }
  .primary-outline-btn-sq {
    @apply px-5 py-3 text-white text-sm border-2 border-primary rounded-sm capitalize transition ease-in-out delay-150  duration-300 hover:bg-primary;
  }
  .card_1 {
    @apply bg-white rounded-lg dark:bg-card_bg border border-[rgba(0,0,0,0.08)] dark:border-[#222f43];
  }
}

/* extra css */
.bg-blue-gradient {
  background: linear-gradient(
    90deg,
    rgba(0, 143, 161, 1) 0%,
    rgba(0, 188, 212, 1) 100%
  );
}

.bg-pink-gradient {
  background: linear-gradient(
    90deg,
    rgb(214, 47, 86) 0%,
    rgba(239, 71, 111, 1) 100%
  );
}

.text-blue-gradient {
  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 143, 161, 1) 0%,
    rgba(0, 188, 212, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-pink-gradient {
  background: -webkit-linear-gradient(
    90deg,
    rgb(214, 47, 86) 0%,
    rgba(239, 71, 111, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.default-transition {
  @apply ease-in-out transition-all duration-300;
}
.overlay-black-gradient {
  @apply after:content-[''] after:absolute after:top-0 after:left-0 after:w-full after:h-full;
}
.overlay-black-gradient::after {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.05) 63%,
    rgba(0, 0, 0, 0.7) 100%
  );
}
.object-fit-cover {
  @apply w-full h-full block object-cover;
}

.default-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

// slider customization

.custom-prev-arrow,
.custom-next-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background-color: #fff;
  color: #00bcd4;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: all 300ms ease-in-out;
  border-radius: 2px;
}

.custom-next-arrow {
  right: 8px;
}

.custom-prev-arrow {
  left: 8px;
}

.view-slider-sc {
  background: url("./assets/images/slider_pattern.jpg") center/cover no-repeat;
  .containers {
    @apply relative after:absolute after:-top-2 after:-bottom-2 after:-right-2 after:-left-2 after:bg-white py-2 px-2 rounded-2xl overflow-hidden;
    .slick-slider {
      @apply z-10;
    }
  }
  .custom-prev-arrow,
  .custom-next-arrow {
    background-color: #fff;
    color: #00bcd4;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: all 300ms ease-in-out;
    border-radius: 2px;
  }
}

// masonry
.my-masonry-grid {
  display: flex;
  margin-right: 15px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 15px;
  background-clip: padding-box;
}

.masonry-item {
  margin-bottom: 15px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 8px;
  overflow: hidden;
}
.masonry-wrapper {
  --mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0,
      rgba(0, 0, 0, 1) 87%,
      rgba(0, 0, 0, 0) 95%,
      rgba(0, 0, 0, 0) 0
    )
    100% 50% / 100% 100% repeat-x;

  border: 1px #d8d8d8 dashed;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

// section title
.section-title {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply text-2xl lg:text-3xl xxl:text-[32px] leading-[1];
  }

  p {
    @apply mt-2 md:mt-1;
  }
}

// scrollbar
.preview-modal, .upload-drawer{
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 100vh;
  }

  &::-webkit-scrollbar-track {
    border-radius: 100vh;
  }
}

// react image css customized
.image-gallery-thumbnails-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.image-gallery-thumbnail {
  height: 200px;
  width: 300px;

  .image-gallery-thumbnail-inner {
    height: 100% !important;
    width: 100% !important;
    object-fit: conver !important;
  }

  .image-gallery-thumbnail-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .image-gallery-thumbnail {
    height: 15s0px !important;
  }
}

@media screen and (max-width: 576px) {
  .image-gallery-thumbnail {
    height: 100px !important;
  }
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail:hover {
  @apply border-moonstone border-[3px];
}

// form
.form-element {
  @apply default-transition;
  &:has(input:focus) {
    border-bottom-color: rgba(51, 51, 51, 0.5);
  }
}

// text
.text-custom{
  @apply text-rich-black/60 font-inter text-sm sm:text-base;
}

// forms{
.login,
.register,
.forgot-password,
.reset-password,
.login-with-otp {
  @apply py-4 min-h-screen;
  background: linear-gradient(
    90deg,
    rgb(244, 246, 249) 0%,
    rgb(216, 224, 232) 100%
  );
  input {
    @apply focus:bg-white focus:px-4 default-transition;
  }

  .containers {
    max-width: 1080px;
  }
}


.active-link{
  @apply bg-moonstone rounded-lg text-white shadow-button;
}

// admin sidebar 
.sidebar-change{
  @media screen and (max-width: 992px){
    margin-left: -260px;
  }
}